@tailwind base;
@tailwind components;
@tailwind utilities;

#page-1 {
    background-image: url('./Images/bg.jpg');
    height: 100vh;
}

#page-3 {
    background-image: url('./Images/jumbotron_bg.jpg');
    height: 60vh;

}

.align-center {
    align-items: center;
}