@tailwind base;
@tailwind components;
@tailwind utilities;

#page-1 {
    background-image: url('./Images/bg.jpg');
    height: 100vh;
}

#page-3 {
    background-image: url('./Images/jumbotron_bg.jpg');
    height: 60vh;

}

.align-center {
    align-items: center;
}

li {
    /* display: inline; */
    line-height: 10vh;
}

#page-2 p {
    @apply my-4 font-light;
}

li:hover {
    background-color: #117BFF;
}